.main-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 50vh;
  height: 50vh;
  background-color: black;
  color: white;
}

.numbers-operators {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 100px;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #323332;
}

.first-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.second-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.third-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.fourth-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.fifth-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.divide,
.multiply,
.minus,
.plus,
.equal {
  background-color: #fe9500;
  color: white;
}

.zero {
  width: 110px;
}

.clear,
.plus-minus,
.percentage {
  background-color: #a6a5a5;
  color: black;
}
