.main-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
  gap: 5px;
  background-color: black;
  color: white;
}

.numbers-operators {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 100px;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 23px;
  color: white;
  background-color: #323332;
}

.first-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.second-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.third-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.fourth-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.fifth-row {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.divide,
.multiply,
.minus,
.plus,
.equal {
  background-color: #fe9500;
  color: white;
}

.zero {
  width: 110px;
}

.clear,
.plus-minus,
.percentage {
  background-color: #a6a5a5;
  color: black;
}

.input {
  width: 200px;
  height: 35px;
  color: white;
  background-color: black;
  border: none;
  text-align: right;
  font-size: 35px;
  margin-right: 10px;
}

button:hover {
  opacity: 0.6;
}

/* For hiding input number spin button*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
